body {
    background-color: rgb(61, 61, 61);
    font-family: montserrat, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    padding: 0px;
}

.familyPhoto {
    width: 50px;
    height: 50px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;

    background-image: url("https://i.imgur.com/lXq3wy7.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    
}
header .content h1 {
    font-size: 100px;
    font-weight: 900;
    margin: 30px 0px;

}

header .content .countdown {
    font-size: 80px;
    font-weight: 900;
}

#ourFamily{ 
    width: 50%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
}

img {
    float: right;
    width: 50%;
    height: 50%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    border-radius: 5px;
    padding: 10px;
}

#blogDiv {
    border-radius: 5px;
}

#myTab {
    margin-left: 25%;
    margin-right: 25%;
}

#btnStyle {
    font-size: 100px;
    box-shadow: 10px 10px 5px  grey;
}

#voted {
    font-weight: bold;
    text-shadow: 10px 10px 5px  grey;
}

.tab-pane h3{
    font-weight: 100px;
}

.container {
    padding: 0;
    box-shadow: 10px 10px 5px rgb(32, 30, 20);
}

#socialImg {
    border: red 1px;
}